* {
	margin:0;
	padding:0;
}
 
body {
	background:#f2f2f2;
}
 
.main {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#094883;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:rgb(17, 142, 180);
}
 
.slides .active {
	background:rgb(3, 231, 15);
}
 
.slidesjs-navigation{
	background:rgb(5, 5, 5);
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float:right;
}