* {
	margin:0;
	padding:0;
    font-family: 'Lexend Mega', sans-serif;
	
}
 
body {
	background:#fffcfe;
}
 
.contenedor {
	width:40%;
	margin:30px auto;
}
 
.elemento {
	width:500px;
	float:left;
	width: 80%;
	margin-bottom:10px;
}
 
.elemento p {
    width: 140%;
	padding:10px;
	font-size:16px;
    color:rgb(0, 0, 0);
}
 
.elemento img {
	width:130%;
	padding: 9%;
    text-align: center;
}

.mensaje {
	background:#F5A9BC;
	padding:2px;
	color:#fff;
	border-radius:3px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:1.7px;
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
}


